
<table class="table-bordered">
  <thead >
    <h2>７日間分の投稿数</h2>
    <tr>
      <th>６日前</th>
      <th>５日前</th>
      <th>４日前</th>
      <th>３日前</th>
      <th>２日前</th>
      <th>１日前</th>
      <th>今日</th>
    </tr>
    <tr>
      <td><%= six_day_book.count %></td>
      <td><%= five_day_book.count %></td>
      <td><%= four_day_book.count %></td>
      <td><%= three_day_book.count %></td>
      <td><%= two_day_book.count %></td>
      <td><%= yesterday_book.count %></td>
      <td><%= today_book.count %></td>
    </tr>
  </thead>
</table>
<%= line_chart data, title: "７日間の投稿数の比較", label: "投稿した本の数", min: 0, max: 10, zeros: true, discrete: true, legend: true %>


