
<table class="table-bordered">
  <thead >
    <h2>７日間分の投稿数</h2>
    <tr>
      <th>６日前</th>
      <th>５日前</th>
      <th>４日前</th>
      <th>３日前</th>
      <th>２日前</th>
      <th>１日前</th>
      <th>今日</th>
    </tr>
    <tr>
      <td><%= six_day_book.count %></td>
      <td><%= five_day_book.count %></td>
      <td><%= four_day_book.count %></td>
      <td><%= three_day_book.count %></td>
      <td><%= two_day_book.count %></td>
      <td><%= yesterday_book.count %></td>
      <td><%= today_book.count %></td>
    </tr>
  </thead>
</table>
<%= line_chart data, title: "７日間の投稿数の比較", label: "投稿した本の数", min: 0, max: 10, zeros: true, discrete: true, legend: true %>
  <canvas id="myChart" width="400" height="400"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById("myChart").getContext('2d');
    const myLineChart = new Chart(ctx, {
      type: 'Line',
      data: {
        labels: ['６日前', '５日前', '４日前', '３日前', '２日前', '1日前', '今日'],
         datasets: [
           {
             label: '投稿した本の数',
             data: [six_day_book.count, five_day_book.count, four_day_book.count, three_day_book.count, two_day_book.count, yesterday_book.count, today_book.count],
             borderColor: ["rgba(0,0,255,1)"],
             backgroundColor: ["rgba(0,0,0,1)"],
             borderWidth: 1
           }
          ],
      },
      options: {
        title: {
          display: true,
          text: '７日間の投稿数の比較'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMax: 10,
              suggestedMin: 0,
              stepSize: 1,
            }
          }]
        },
      }
    });
  </script>